    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Issa's Shop</title>
</head>
<body>
    <center>
    <h1>Shoe shop</h1> 
    <h3> everything on this site is a nockoff of the original for  a fraction of the price. </h3>  
    <h3> click on the image to reach product page </h3> 
        <a href="{{url_for('cart')}}"><button>Cart</button></a>
    <br><br><br><br><br>
    <h2>Running shoes</h2>
    <img src="static/images/running_shoes.jpeg">

    <br><br><br><br>
    <a href="{{url_for('product')}}"><button>running shoes</button></a>
    <br><br><br><br><br>
    <h2>Football Shoes</h2>
    <img src="static/images/Cleats.jpeg">
    <br><br><br>
    <a href="{{url_for('product2')}}"><button>Football shoes</button></a>
    <br><br><br><br><br>
    <h2>Formal Shoes</h2>
    <img src="static/images/Formal.jpeg">
    <br><br><br>
    <a href="{{url_for('product3')}}"><button>Football shoes</button></a>


    

    </center>
</body>
</html>