<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products Page</title>
</head>
<body>
    <center>
    <h1>Products Page!</h1>
    <h3>Feel free to look around!</h3>
    <BR><BR><BR><BR><BR><BR>
    <h4>Running shoes</h4>
    <img src="static/images/running_shoes.jpeg">
    <h5>Price " 80$</h5>
    <BR><BR><BR><BR><BR><BR>
    <h4>Cleats</h4>
    <img src="static/images/Cleats.jpeg">
    <h5>Price " 120$</h5>
    <BR><BR><BR><BR><BR><BR>
    <h4>Formal</h4>
    <img src="static/images/Formal.jpeg">
    <h5>Price " 200$</h5>
    </center>

</body>
</html>